<div class="modal-container">
    <div class="icon">
        <fa-icon (click)="closeModal()" [icon]="closeButton"></fa-icon>
    </div>

    <div class="modal-content-wrapper" *ngIf="curModalTab == 0">
        <div class="modall-content"
             [style.height]="modalHeight-90 + 'px'"
             [style.width]="modalWidth-40 + 'px'">
            <h1>Solución sin programación dinámica</h1>
            <p></p>
            <div class="img-container">
                <img src="assets/foto_sols/uPaths_nodp2.png" alt="Código solución" >
            </div>
            <br/><br/>
            <h1>Explicación código</h1>
            <p>Como se observa, el procedimiento es el siguiente:</p>
                <ul>
                    <li><u>Aclaración:</u> En el algoritmo, en vez de avanzar desde la posición del robot hacia la meta, se optó por retroceder desde la meta hasta la posición del robot. Esto se realizó ya que la respuesta obtenida es la misma y se evita tener que enviar parámetros extras que detallen las dimensiones de la matriz.
                    </li>
                    <li>Existen dos restricciones de corte:
                        <ul>
                            <li><u>La fila o la columna es menor a cero:</u>Se escapó de los límites definidos por la matriz y, por ende, se retorna cero.</li>
                            <li><u>La fila o la columna son iguales a cero:</u>En esta instancia, se retorna el valor uno. Esto se debe a que, una vez que la fila o la columna alcanzan el valor cero, únicamente existe una solución posible: avanzar hacia la izquierda hasta llegar al borde superior izquierdo en caso de que la fila sea cero, o descender hasta el borde superior izquierdo si la columna es cero.</li>
                        </ul>
                    </li>
                    <li>En situaciones donde las condiciones límite no se cumplen, la cantidad de caminos únicos en la posición actual se calcula como la suma de las rutas obtenidas al disminuir una fila mientras se mantiene la columna constante, y las rutas derivadas de mantener la fila constante mientras se reduce la columna en uno.</li>
                </ul>
            <br/><br/>
            <h1>Problema de la solución</h1>
            <p>
            <p>Al no utilizar programación dinámica, el algoritmo no tiene manera de determinar si analizó previamente la cantidad de caminos únicos para las dimensiones con las cuales se lo invoca. Esta incapacidad del algoritmo de recordar cálculos previos es lo que genera que la solución se torne temporalmente inviable a medida que incrementan la cantidad de filas y columnas.
            </p>
            <p>Esta problemática puede ser facilmente visualizada a través del gráfico de llamadas. Como puede observarse, en muchas situaciones se recalcula la cantidad de caminos únicos para dimensiones de matriz previamente calculadas. Como ejemplo de esto tenemos los siguientes casos:
            </p>
            <ul>
                <li>La cantidad de filas y columnas es igual a uno.</li>
                <li>La cantidad de filas es igual a cero y la cantidad de columnas es igual a uno.</li>
                <li>La cantidad de filas es igual a uno y la cantidad de columnas es igual a cero.</li>
            </ul>
            <div class="img-container">
                <img src="assets/arbol_llamadas/uPaths_call_nodp.png" alt="Árbol llamadas">
            </div>
        </div>
    </div>

    <div class="modal-content-wrapper" *ngIf="curModalTab == 1">
        <div class="modall-content"
        [style.height]="modalHeight-90 + 'px'"
        [style.width]="modalWidth-40 + 'px'">
            <h1>Solución con programación dinámica</h1>
            <p></p>
            <div class="img-container">
                <img src="assets/foto_sols/uPaths_dp2.png" alt="Código solución">
            </div>
            <br/><br/>
            <h1>Explicación código</h1>
            <p>Como puede observarse, la solución que incorpora programación dinámica no presenta variaciones significativas con respecto a la original. Las únicas diferencias son:</p>
            <ul>
                <li>Cuando se realiza el cálculo de caminos totales dadas unas dimensiones, se guarda dicho resultado en el memo usando las dimensiones de la matriz como Key.</li>
                <li>Dado una cantidad de filas y columnas, el cálculo solo se realiza si la dimensión otorgada no fue previamente calculada; en caso contrario, se retorna el valor desde el memo.</li>
            </ul>
            <br/><br/>
            <h1>Caso utilización DP</h1>
            <p>
            <p>Como puede verse, en la segunda instancia en la cual las filas y las columnas son igual a uno, debido a que el valor fue previamente calculado, se lo toma del memo. Utilizando el ejemplo previamente presentado, el árbol que se genera es el siguiente:
            </p>
            <div class="img-container">
                <img src="assets/arbol_llamadas/uPaths_call_dp.png" alt="Árbol llamadas">
            </div>
        </div>
    </div>

    <div class="lower-modal-section">
        <div class="hline-wrap">
            <div class="hline"></div>
        </div>
        <div class="interaction-wrapper">
            <a class="back-button"[style.visibility]="curModalTab == 0 ? 'hidden' : 'visible'"
            (click)="goPreviousPage()">&laquo; Previous</a>
            <a class="next-button"[style.visibility]="curModalTab == 1 ? 'hidden' : 'visible'" (click)="goNextPage()">Next &raquo;</a>       
        </div>
    </div>
</div>