<div class="modal-container">
    <div class="icon">
        <fa-icon (click)="closeModal()" [icon]="closeButton"></fa-icon>
    </div>

    <div class="modal-content-wrapper" *ngIf="curModalTab == 0">
        <div class="modall-content"
             [style.height]="modalHeight-90 + 'px'"
             [style.width]="modalWidth-40 + 'px'">
            <h1>Solución sin programación dinámica</h1>
            <p></p>
            <div class="img-container">
                <img src="assets/foto_sols/fib_nodp3.png" alt="Código solución">
            </div>
            <br/><br/>
            <h1>Explicación código</h1>
            <p>Como se puede observar, el procedimiento es sencillo:</p>
            <ul>
                <li>
                    Se establece una restricción de corte cuando el valor de curNum es igual a cero o uno, ya que estos son los dos valores de Fibonacci conocidos.
                </li>
                <li>
                    Para el resto de los casos, como se observa en el código, el valor de Fibonacci se obtiene sumando el valor de Fibonacci del número actual menos uno y el valor de Fibonacci del número actual menos dos.
                </li>
            </ul>
            <br/><br/>
            <h1>Problema de la solución</h1>
            <p>
            <p>Sin utilizar programación dinámica, el algoritmo no tiene manera de recordar los valores de Fibonacci que ya ha calculado previamente, excepto para cero y uno. Esto significa que cada vez que necesita calcular el Fibonacci de un número mayor, debe recalcular los mismos subproblemas una y otra vez, lo que hace que esta solución sea ineficiente a medida que el valor de curNum aumenta.

            </p>
            <p>Esta problemática puede ser vista con claridad al graficar un árbol que represente 
                las llamadas recursivas realizadas en el proceso de cálculo de un Fibonacci. Dicho árbol es de tipo binario, ya que cada llamada a la función tiene como potencial máximo la generación de dos nuevas llamadas,
                una para <strong>Fib(curNum-1)</strong> y otro para <strong>Fib(curNum-2).</strong>
            </p>

            <p>En el gráfico presentado a continuación se puede observar claramente cómo los valores de Fibonacci, como el dos o el tres, son recalculados múltiples veces debido a que no se ha implementado ningún mecanismo de memorización.</p>
            <div class="img-container">
                <img src="assets/arbol_llamadas/fib_call_nodp.png" alt="Árbol llamadas">
            </div>
        </div>
    </div>

    <div class="modal-content-wrapper" *ngIf="curModalTab == 1">
        <div class="modall-content"
        [style.height]="modalHeight-90 + 'px'"
        [style.width]="modalWidth-40 + 'px'">
            <h1>Solución con programación dinámica</h1>
            <p></p>
            <div class="img-container">
                <img src="assets/foto_sols/fib_dp3.png" alt="Código solución">
            </div>
            <br/><br/>
            <h1>Explicación código</h1>
            <p>Como se puede observar, la lógica de resolución original se mantiene intacta, con la diferencia que:</p>
            <ul>
                <li>
                    Cuando se realiza el cálculo de un Fibonacci, se guarda el resultado encontrado en una variable de tipo diccionario. En el caso de Python, por un tema de conveniencia, se utilizó el defaultdict().
                </li>
                <li>
                    El cálculo del Fibonacci de un número se realiza solamente si el mismo no se encuentra en el diccionario, es decir, no fue calculado hasta el momento.
                </li>
            </ul>
            <br/><br/>
            <h1>Caso utilización DP</h1>
            <p>
            <p>Al aplicar memorización, los valores previamente calculados no son recalculados. Utilizando el mismo ejemplo utilizado en el caso anterior, se puede apreciar el gran impacto en la eficiencia temporal que supone la implementación de la programación dinámica, ya que evita recalcular valores de Fibonacci que ya han sido previamente calculados.</p>
            <div class="img-container">
                <img src="assets/arbol_llamadas/fib_call_dp.png" alt="Árbol llamadas">
            </div>
        </div>
    </div>

    <div class="lower-modal-section">
        <div class="hline-wrap">
            <div class="hline"></div>
        </div>
        <div class="interaction-wrapper">
            <a class="back-button"[style.visibility]="curModalTab == 0 ? 'hidden' : 'visible'"
            (click)="goPreviousPage()">&laquo; Previous</a>
            <a class="next-button"[style.visibility]="curModalTab == 1 ? 'hidden' : 'visible'" (click)="goNextPage()">Next &raquo;</a>       
        </div>
    </div>
</div>